---
import NoteAdd from "../components/addNote.jsx";
import Layouts from "../layouts/Layout.astro";

---

<html lang="es">
  <body>
    <Layouts title="Agregar Nota">
      <NoteAdd client:only="react" />
    </Layouts>
  </body>
</html>