---
import LoginForm from "../components/home.jsx";
import Layouts from "../layouts/Layout.astro";

---

<html lang="es">
  <body>
    <Layouts title="Home">
      <LoginForm client:only="react" />
    </Layouts>
  </body>
</html>