---
import LoginForm from "../components/login.jsx";
import Layouts from "../layouts/Layout.astro";

---

<html lang="es">
  <body>
    <Layouts title="Iniciar Sesión">
      <LoginForm client:only="react" />
    </Layouts>
  </body>
</html>