---
import RegisterForm from "../components/register";
import Layouts from "../layouts/Layout.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrarse</title>
    <link rel="stylesheet" href="/src/style/global.css" />
  </head>
  <body>
    <Layouts title="Registrarse">
      <RegisterForm client:only="react" />
    </Layouts>
  </body>
</html>