@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --background-1: #252525;
    --background-2: #9A9A9A;
    --button-1: #3B3B3B;
    --button-2: #FF0000;
    --input-1: #3B3B3B;
    --card-1: #FD99FF;
    --card-2: #FF9E9E;
    --card-3: #91F48F;
    --card-4: #FFF599;
    --card-5: #9EFFFF;
    --card-6: #B69CFF;
    --color-1: #FFFFFF;
    --color-2: #CFCFCF;
    --color-3: #9A9A9A;
    --color-4: #000000;
}
@font-face {
    font-family: "Nunito-Regular";
    src: url(/public/font/Nunito-Regular.ttf);
    font-weight: normal;
    font-style: normal; 
}

body {
    font-family: "Nunito-Regular", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: var(--color-4);
    height: 100vh;
}

/* Estilos para simular vista móvil en pantallas grandes */
@media (min-width: 900px) {
    
    .container {

        padding-top: 10rem;
        border-radius: 8px;
    }
}

/* Volver a la visualización normal en tamaños de pantalla pequeños */
@media (max-width: 899px) {
    .container {
        display: none;
    }
}