---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" sizes="32x32" href="/logo.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/logo.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/src/style/global.css" />
		<title>{title}</title>
	</head>
	<body>
		<div class="container">
		</div>
		<slot />
		<div class="container">
		</div>
	</body>
</html>